

html,
body {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  background-color: theme('colors.background');
  color: theme('colors.text');
}

.react-flow {
  --bg-color: theme('colors.background');
  --text-color: theme('colors.text');
  --node-border-radius: 10px;
  --node-box-shadow: 10px 0 15px rgba(187, 134, 252, 0.3),
    -10px 0 15px rgba(55, 0, 179, 0.3);
  background-color: var(--bg-color);
  color: var(--text-color);
}

.react-flow__node-turbo {
  border-radius: var(--node-border-radius);
  display: flex;
  height: 70px;
  min-width: 150px;
  font-family: 'Fira Mono', Monospace;
  font-weight: 500;
  letter-spacing: -0.2px;
  box-shadow: var(--node-box-shadow);
}

.react-flow__node-turbo .wrapper {
  overflow: hidden;
  display: flex;
  padding: 2px;
  position: relative;
  border-radius: var(--node-border-radius);
  flex-grow: 1;
}


.react-flow__handle {
  opacity: 1;
}
